In [1]:
import requests

In [7]:
import pandas as pd

df = pd.read_excel ('/Users/chrisshaw/Downloads/rollingsales_brooklyn.xls') 
df.head(10)

,Brooklyn Rolling Sales File. All Sales From Oct 2018 - Sep 2019,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Sales as of 10/15/2019,Unnamed: 20
0,"For sales prior to the Final, Neighborhood Nam...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Building Class Category is based on Building C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Note: Condominium and cooperative sales are on...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
4,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6363,22,NaN,A9,8645 16TH AVENUE,NaN,...,1,0,1,"2,058","1,492",1930,1,A9,0,04/23/2019
5,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6363,48,NaN,A9,12 BAY 13TH STREET,NaN,...,1,0,1,"3,142","3,200",1999,1,A9,0,02/27/2019
6,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6363,48,NaN,A9,12 BAY 13TH STREET,NaN,...,1,0,1,"3,142","3,200",1999,1,A9,0,02/11/2019
7,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6366,69,NaN,A1,8658 BAY 16TH STREET,NaN,...,1,0,1,"4,833","1,724",1930,1,A1,0,10/25/2018
8,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6366,72,NaN,A1,8664 BAY 16TH STREET,NaN,...,1,0,1,"4,833","2,300",1925,1,A1,"1,720,000",12/12/2018
9,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6367,42,NaN,S1,1730 86TH STREET,NaN,...,1,1,2,"1,342","1,920",1926,1,S1,"1,630,000",02/08/2019

In [14]:
sales = df['Sales as of 10/15/2019']

In [19]:
len(df)

23620

In [20]:
sales.value_counts()

0            8220
10            291
1,200,000     136
650,000       129
1,100,000     129
             ...
383,334         1
422,000         1
2,902,000       1
629,900         1
2,035,000       1
Name: Sales as of 10/15/2019, Length: 3308, dtype: int64